services:
  azure-pipeline-agent:
    image: azure-agent:dev
    container_name: azure-agent
    environment:
    - AZP_URL=https://itsower-vsonline.visualstudio.com
    - AZP_TOKEN=mySettingPersonalAccesssToken
    - AZP_POOL=linux-container-agent-pool
    - AZP_AGENT_NAME=linux-container-agent
    - DOCKER_HOST=tcp://host.docker.internal:2375
    #volumes:
    #- //./pipe/docker_engine:/var/run/docker.sock # 挂载 Windows 的 Docker Named Pipe
    #privileged: true
    depends_on:
    - itsower-docker-registry # 確保 Registry 先啟動
    restart: always
